<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>My Movie App</title>
</head>
<body>
    <header class="header" id="header">
        Welcome to My Movies App
        <nav>
            <a href="/">home</a>
            <a href="/animation">animation</a>
            <a href="/comedy">comedy</a>
            <a href="/drama">drama</a>
            <a href="/classic">classic</a>
            <a href="/family">family</a>
            <a href="/horror">horror</a>
            <a href="/mystery">mystery</a>
            <a href="/western">western</a>

        </nav>
    </header>